/* styles.css */
:root {
  --color1: #8C5230;
  --color2: #593723;
  --color3: #D98D62;
  --color4: #D9B29C;
  --color5: #F2F2F2;
  --color6: #EDE7E3;
  --color7: #444;
  --color8: #333;
}

body {
  background-color: var(--color6);
  color: var(--color2);
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
}

.header-custom {
  background-color: var(--color4);
  color: var(--color2);
  margin-bottom: 0;
}

.footer-custom {
  background-color: var(--color3);
  color: var(--color5);
}

.card-custom {
  border: 1px solid var(--color1);
  background-color: var(--color5);
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-custom:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card-title {
  color: var(--color7);
}

.card-text {
  color: var(--color8);
}

.btn-custom {
  background-color: var(--color1);
  color: var(--color5);
}

.btn-custom:hover {
  background-color: var(--color2);
}

.social-links a {
  display: inline-block;
  margin: 5px;
  color: var(--color5);
  text-decoration: none;
}

.social-links a:hover {
  color: var(--color2);
}

.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  font-family: 'Lora', serif;
  font-size: 1.5rem;
  color: var(--color5) !important;
}

.navbar-nav .nav-item .nav-link {
  color: var(--color5) !important;
  transition: color 0.3s;
}

.navbar-nav .nav-item .nav-link:hover {
  color: var(--color2) !important;
}

.container-fluid, .container {
  padding: 20px;
  border-radius: 10px;
}

.container {
  background-color: var(--color6);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h3.text-center {
  color: var(--color1);
  margin-bottom: 30px;
}

.footer-custom .container {
  background-color: var(--color3);
}

/* Styles for about page */
.about-body {
  font-family: 'Lora', serif;
  background-color: #f8f9fa;
  color: #333;
}

.about-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem;
}

.about-text, .about-image {
  flex: 1 1 50%;
  padding: 1rem;
}

.about-image img {
  width: 80%;
  height: auto;
}

h1, h2, p {
  margin-bottom: 1rem;
}
